<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="/static/mapdata.js"></script>
    <script src="/static/worldmap.js"></script> 
    <title> Main </title>
</head>
<body>
        <div style="text-align: center; color: white;"> 
        <h1 class="typewriter"> FINDER</h1>
        <a href="" class="hero-btn">FIND </a>
        </div> 
    <h1 id="map" class="center"> </h1>
        
    
    <div>
        <!--NOTE TO GROUP MEMBERS THE CODE BELOW IS A TEST I AM TESTING SOMETHING!-->
        <div class="div1"><h1> <del>LEFT TEXT</del></h1></div>
        <div class="div2"> <h1>Right Text</h1></div>
        <h1 style="color: white; text-align: center;">Welcome to the </h1>
        <div class="container1">
            <div class="text1">
                <!-- ANIMATION -->
              <span style="--i:1">F</span>
              <span style="--i:2">U</span>
              <span style="--i:3">T</span>
              <span style="--i:4">U</span>
              <span style="--i:5">R</span>
              <span style="--i:7">E</span>
              
        
          </div>
    </div>

   
   
  
</body>
</html>